.div{
    border: 1px;
}
.red{
    background-color:blue;
    width:20%;
    margin:3% 2.5%;
    height: 800px;
}

.blue{
    background-color:blueviolet;
    width:20%;
    margin:3% 2.5%;
    height: 800px;

}

.orange{
    background-color:green;
    width:20%;
    margin:3% 2.5%;
    height: 800px;
}

.green{
    background-color:gold;
    width:20%;
    margin:3% 2.5%;
    height: 800px;

}
body{
    display: flex;
    justify-content:center;

}

