* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.outer-col-1 {
    background: rgb(130, 126, 101);
    flex: 1;
    margin: 10px;
}

.outer-col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.inner-row {
    display: flex;
    flex-direction: row;
}

.inner-col {
    flex: 4;
}

.inner-row article {
    min-height: 60vh;
    background: rgb(226, 12, 12);
    margin: 10px;
}

.inner-row aside {
    background: rgb(18, 183, 117);
    flex: 1;
    margin: 10px;
}

footer {
    background: blue;
    height: 20vh;
    margin: 10px;
}

header {
    background: orange;
    height: 20vh;
    margin: 10px;
}